#clustermap{
	position:relative;
	width:100%;
	height:100%;
}
#clustermap line:hover{
	stroke-width:2px;
}
.clustermap-node{
	display: block;
	position: absolute;
	z-index:1;
	min-width:150px;
	min-height:150px;
}

.clustermap-node .label{
	text-anchor: middle;

}
.clustermap-node.master .label{
	font-weight: bold;
}

.clustermap-node div{
	width:150px;
	height: 60px;
	text-align: center;
}

td.connectionup{
	background-color: <#colorcode color="statusup">!important;
}
td.connectiondown{
	background-color: <#colorcode color="statusdown">!important;
	color:white;
}